.Button {
    padding: 1rem 1.8rem;
    background: var(--primary-color);
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 0.4rem;
    text-align: center;
    color: white;
    transition: 0.4s;
    height: fit-content;
}

.Button:hover {
    cursor: pointer;
    box-shadow: 0 7px 16px rgb(var(--primary-color), 0.4);
}
