.HowItWorks {
    padding-top: var(--def-sect-pad);
}

.hiwItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 909px) {
    .hiwItems {
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
    }
}
@media screen and (max-width: 774px) {
    .hiwItems {
        grid-template-columns: 1fr;
    }
}