:root {
  --appbar-height: 3.5rem;
  --def-sect-pad: 6.25rem;
  --primary-color: rgb(139, 92, 246);
  --light-text: rgb(150, 153, 166);
  --dark-text: rgb(7, 16, 45);

  --bg-light: white;
  --bg-medium: rgba(138, 92, 246, 0.20);
  --bg-dark: rgba(138, 92, 246, 0.15);
}

/* html {
  font-size: 10px;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


li {
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
}

.d_padding {
  padding: 0 1.5rem;
  margin: auto;
}

.container {
  margin: 0 4rem;
}




/* Utils */
.card {
  border-radius: 1rem;
}




/* Animations */
.rtl {
  animation: rightToleft 1s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
@keyframes rightToleft {
  from {
    opacity: 0;
    transform: translate(100px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.ltr {
  animation: leftToRight 1s ease-out;
}
@keyframes leftToRight {
  from {
    opacity: 0;
    transform: translate(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}


.ttd {
  animation: topToDown 1s ease-out;
}
@keyframes topToDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btt {
  animation: bottomToTop ease-out;
}
@keyframes bottomToTop {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Media Queries */
@media screen and (max-width: 1319px) {
  .d_padding {
    max-width: 1100px;
  }

  .container {
    margin: 0 1rem;
  }
}
@media screen and (max-width: 1095px) {
  .d_padding {
    max-width: 970px;
  }
}
@media screen and (max-width: 909px) {
  .d_padding {
    max-width: 784px;
  }

}
@media screen and (max-width: 774px) {
  .d_padding {
    max-width: 550px;
  }
  body {
    background-color: rgb(24, 16, 59);
  }
}